Flask==1.0.2
Flask-PyMongo==2.3.0
Flask-Bootstrap==3.3.7.1
Flask-Material==0.1.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
jedi==0.13.3
lxml==4.2.3
Jinja2==2.10
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Markdown==3.1.1
mrjob==0.6.10
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.14.5
pandas==0.23.3
python-dateutil==2.7.3
requests==2.22.0
rsa==4.1
simplejson==3.16.0
SQLAlchemy==1.2.10
tensorboard==1.14.0
webencodings==0.5.1
pymongo==3.8.0
splinter==0.10.0
bs4==0.0.1
selenium==3.141.0



